body{
    background-color: rgba(137, 187, 0, 0.493);
}
h1 {
    color: orangered;
    font-size: 45px;
    background-color: aliceblue;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5, 
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

/* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    color: rgb(46, 0, 253);
    font-size: 20px;
}

/* Main Container */
#main {
    text-align: center;
}

/* Game Instruction Text */
#ins {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;
          
    color: rgb(0, 132, 31);
    font-size: 17px;
}
input[type=text]
{
    background-color: rgba(240, 248, 255, 0.12);
}